@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@font-face {
    font-family: mrHoney;
    src: url('./fonts/mr_honey.ttf');
}

@font-face {
    font-family: vinque;
    src: url('./fonts/vinque_regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    background: url('./image/fon.jpg') no-repeat;
    height: 100vh;
    width: 100vw;
}

.base {
    position: absolute;
    height: 600px;
    width: 700px;
    background: url('./image/base.png') no-repeat;
    top: 150px;
    left: 600px; 
}

.vinylRecord {
    margin: 0;
    padding: 0;
    background-image: url('./image/record.png');
    position: absolute;
    height: 540px;
    width: 540px;
    background-size: cover;
    border-radius: 9999px;
    top: 164px;
    left: 615px; 
}

.arrow {
    background-image: url(./image/arrow.png);
    position: absolute;
    height: 400px;
    width: 95px;
    top: 170px;
    left: 1150px;
} 

.arrow_play {
    top: 150px;
    left: 1050px;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
    transition: .4s linear;
}

.play_pause {
    position: absolute;
    top: 620px;
    left: 610px;
}

.play_pause:hover {
    cursor: pointer;
}

.setting {
    position: absolute;
    top: 640px;
    left: 1145px;
}

.change {
    padding-left: 15px;
}

.change:hover {
    cursor: pointer;
}

.move {
    animation: rotate 10s linear infinite;
}

.nameSong {
    position: absolute;
    top: 352px;
    left: 885px;
    color: #fff;
    font-family: vinque;
}

.time {
    position: absolute;
    top: 600px;
    left: 1200px;
    font-family: mrHoney;
    font-weight: bolder;
    font-size: 25px;
}

.playList {
    position: absolute;
    top: 600px;
    left: 50px;
    font-family: mrHoney;
    color: #fff;
    font-size: 40px;
}

.nameSong_song,
.duration_song {
    display: inline-block;
}

.nameSong_song {
    padding: 0 40px 15px 0;
}

.song:hover {
    cursor: pointer;
    color: #ff0000;
}